<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit your msg</h1>
    <p>Your <b>Id: </b> <%= chat.id %> </p>
    <p>This chat was send from: <b> <%= chat.from %> </b>   To: <b><%= chat.to %></b> </p>
    <form method="post" action="/chats/<%=chat._id%>?_method=PUT">

        <textarea name="msg"  cols="40" rows="10"> <%= chat.msg %></textarea> <br>
        <button>Submit</button>
    </form>
</body>
</html>