<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <!-- link css -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>


    <!-- looping of array  -->
  <%  for(post of posts){ %>
    <div>
    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <h5 class="content"><%= post.content  %></h5>
        <a class="btn" href="http://localhost:3000/posts/<%=post.id %>">See In Detail</a>
        <a href="http://localhost:3000/posts/<%=post.id %>/edit">Edit</a>

        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete Post </button>
        </form>
    </div>
</div>
   <% } %>
   
   <br><br>

   <a href="http://localhost:3000/posts/new"> Crate A new post</a>

</body>
</html>